{% extends 'thought/base.html' %}

{% block content %}

<!-- Left post field -->
<div class="col-8 p-2 bg-dark" >

    <!-- Cards Header -->
    <div class="card-header p-3 mb-1 d-flex justify-content-between" style="background-color: #026e6a" >
        <span class="d-flex align-items-center"
            style="font-size: 20px; color: #a8fffc; text-shadow: 1px 1.5px #a8fffc; ">
            Fikir Başlığı - 60 chr
        </span>
        <span class="" style="color: #a8fffc; text-shadow: 1px 1.5px #a8fffc; ">

            <span class="d-flex align-items-start" style="color: #f7e0ff; text-shadow: 1px 1px #f7e0ff; ">
                yazar adı - 20 chr
            </span>
            <span class="d-flex align-items-end" style="color: #f7e0ff; text-shadow: 1px 1px #f7e0ff; ">
                22/10/2022 10:45
            </span>
        </span>
    </div>

        <!-- ---------------------------------------------- -->

    <!-- card template  -->
    <div class="card mb-1 bg-dark" >
        <div class="row p-2">
            <img class="col-6 border border-warning p-1" style="border-width: thick;" src="https://img.freepik.com/free-photo/cool-geometric-triangular-figure-neon-laser-light-great-backgrounds-wallpapers_181624-9331.jpg?w=2000" alt="">
            <img class="col-6 border border-warning p-1" style="border-width: thick;"  src="https://img.freepik.com/free-photo/cool-geometric-triangular-figure-neon-laser-light-great-backgrounds-wallpapers_181624-9331.jpg?w=2000" alt="">
            <img class="col-6 border border-warning p-1" style="border-width: thick;"  src="https://img.freepik.com/free-photo/cool-geometric-triangular-figure-neon-laser-light-great-backgrounds-wallpapers_181624-9331.jpg?w=2000" alt="">
            <img class="col-6 border border-warning p-1" style="border-width: thick;"  src="https://img.freepik.com/free-photo/cool-geometric-triangular-figure-neon-laser-light-great-backgrounds-wallpapers_181624-9331.jpg?w=2000" alt="">
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" style="background-color: #454b57; color: #ebfc9f">Buluşun Ana Fikri</li>
            <li class="list-group-item" style="background-color: #454b57; color: #ebfc9f">Buluşun Odaklandığı Sorunlar</li>

            <li class="list-group-item" style="background-color: #454b57; color: #ebfc9f">
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC,
            making it over 2000 years old. Richard McClintock, a Latin professor
            at Hampden-Sydney College in Virginia, looked up one of the more
            obscure Latin words, consectetur, from a Lorem Ipsum passage,
            and going through the cites of the word in classical literature,
            discovered the undoubtable source. Lorem Ipsum comes from sections
            1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes
            of Good and Evil) by Cicero, written in 45 BC. This book is a treatise
            on the theory of ethics, very popular during the Renaissance. The first
            line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line
            in section 1.10.32.
                <br><br>
            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below
            for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus
            Bonorum et Malorum" by Cicero are also reproduced in their exact
            original form, accompanied by English versions from the 1914 translation by H. Rackham.
                <br><br>
                Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC,
            making it over 2000 years old. Richard McClintock, a Latin professor
            at Hampden-Sydney College in Virginia, looked up one of the more
            obscure Latin words, consectetur, from a Lorem Ipsum passage,
            and going through the cites of the word in classical literature,
            discovered the undoubtable source. Lorem Ipsum comes from sections
            1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes
            of Good and Evil) by Cicero, written in 45 BC. This book is a treatise
            on the theory of ethics, very popular during the Renaissance. The first
            line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line
            in section 1.10.32.
                <br><br>
            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below
            for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus
            Bonorum et Malorum" by Cicero are also reproduced in their exact
            original form, accompanied by English versions from the 1914 translation by H. Rackham.
            </li>
            <hr>
            <li class="list-group-item p-2" style="background-color: #32415c; color: #97f7f3;">
            <span>Yüklenen Dosyalar</span>
            <span><a href="" class="btn btn-info">Dosya Seç</a></span>
            </li>
          <table  style="background-color: #32415c; color: #97f7f3;">
              <tr>
                  <td class="border border-warning p-2">Dosya 1</td>
                  <td class="border border-warning p-2 d-flex justify-content-between">
                      <span>file_1</span>
                      <span><a href="" class="btn btn-danger">SİL</a></span>
                  </td>
              </tr>
              <tr>
                  <td  class="border border-warning p-2">Dosya 2</td>
                  <td class="border border-warning p-2 d-flex justify-content-between">
                      <span>file_2</span>
                      <span><a href="" class="btn btn-danger">SİL</a></span>
                  </td>
              </tr>
              <tr>
                  <td class="border border-warning p-2">Dosya 3</td>
                  <td class="border border-warning p-2 d-flex justify-content-between">
                      <span>file_3</span>
                      <span><a href="" class="btn btn-danger">SİL</a></span>
                  </td>
              </tr>
          </table>
        </ul>


        <!-- Button Templates -->
        <div class="card-body row m-0 bg-dark">
            <a href="#" class="btn col m-1" style=" background-color: #02b54f; color: #ffe6e3;
                text-shadow: 1px 1.5px #ffe6e3;">UP</a>
            <a href="#" class="btn col m-1" style="background-color: #cf0056; color: #d1dbff;
                text-shadow: 1px 1.5px #d1dbff;">DOWN</a>
            <a href="#" class="btn col m-1" style="background-color: #007358; color: #e0fff8;
                text-shadow: 1px 1.5px #e0fff8;">OFFER</a>
        </div>

    </div>

</div>



{% endblock  %}

