{% extends 'thought/base.html' %}

{% block content %}

<!-- Left post field -->
<div class="col-8 p-2 bg-dark" >

    <!-- Cards Header -->
    <div class="card-header p-3 mb-1" style="background-color: #026e6a; 
        font-size: 18px; color: #a8fffc; text-shadow: 1px 1px #a8fffc;" >

        Buluş Başlığı 60 Karakter
      </div>

        <!-- ---------------------------------------------- -->

    <!-- card template  -->
    <div class="card mb-1 bg-dark" >

      <ul class="list-group list-group-flush">
        <li class="list-group-item" style="background-color: #454b57; color: #ebfc9f">Buluşun Ana Fikri</li>
        <li class="list-group-item" style="background-color: #454b57; color: #ffd494">Buluşun Odaklandığı Sorunlar</li>

        <li class="list-group-item" style="background-color: #454b57; color: #f9fae8">
          Contrary to popular belief, Lorem Ipsum is not simply random text.
          It has roots in a piece of classical Latin literature from 45 BC,
          making it over 2000 years old. Richard McClintock, a Latin professor
          at Hampden-Sydney College in Virginia, looked up one of the more
          obscure Latin words, consectetur, from a Lorem Ipsum passage,
          and going through the cites of the word in classical literature,
          discovered the undoubtable source. Lorem Ipsum comes from sections
          1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes
          of Good and Evil) by Cicero, written in 45 BC. This book is a treatise
          on the theory of ethics, very popular during the Renaissance. The first
          line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line
          in section 1.10.32.
            <br><br>
          The standard chunk of Lorem Ipsum used since the 1500s is reproduced below
          for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus
          Bonorum et Malorum" by Cicero are also reproduced in their exact
          original form, accompanied by English versions from the 1914 translation by H. Rackham.
            <br><br>
            Contrary to popular belief, Lorem Ipsum is not simply random text.
          It has roots in a piece of classical Latin literature from 45 BC,
          making it over 2000 years old. Richard McClintock, a Latin professor
          at Hampden-Sydney College in Virginia, looked up one of the more
          obscure Latin words, consectetur, from a Lorem Ipsum passage,
          and going through the cites of the word in classical literature,
          discovered the undoubtable source. Lorem Ipsum comes from sections
          1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes
          of Good and Evil) by Cicero, written in 45 BC. This book is a treatise
          on the theory of ethics, very popular during the Renaissance. The first
          line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line
          in section 1.10.32.
            <br><br>
          The standard chunk of Lorem Ipsum used since the 1500s is reproduced below
          for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus
          Bonorum et Malorum" by Cicero are also reproduced in their exact
          original form, accompanied by English versions from the 1914 translation by H. Rackham.
          </li>
          <li class="list-group-item d-flex justify-content-between" style="background-color: #454b57; color: #ebfc9f">
              <span style="color:#97fcd7;">12345678912345678912345678912345678912345678912345</span>
              <span style="color:#cfb3ff;">22/10/2001 - 10:45</span>
          </li>

      </ul>


      <!-- Button Templates -->
      <div class="card-body row m-0 bg-dark">
        <a href="#" class="btn col m-1 d-flex justify-content-around" style=" background-color: #02b54f; color: #ffe6e3;
            text-shadow: 1px 1.5px #ffe6e3;">
            <span>
                UP
            </span>
            <span>
                1 212 211
            </span>
        </a>
        <a href="#" class="btn col m-1 d-flex justify-content-around" style="background-color: #cf0056; color: #d1dbff;
            text-shadow: 1px 1.5px #d1dbff;">
            <span>
                DOWN
            </span>
            <span>
                1 212 211
            </span>        
        </a>
        <a href="#" class="btn col m-1 d-flex justify-content-around" style="background-color: #007358; color: #e0fff8;
            text-shadow: 1px 1.5px #e0fff8;">
            <span>
                OFFER
            </span>
            <span>
                1 212 211
            </span>        
        </a>
      </div>

    </div>


    <!-- REVIEWS AND SUGGESTIONS HEADER -->
    <div class="card-header p-3 mb-1" style="background-color: #91002e; 
        font-size: 18px; color: #fcffe0; text-shadow: 1px 1px #fcffe0;" >

        REVIEWS AND SUGGESTIONS
    </div>

    <!-- Comment Form Filed -->
    <div class="mb-2 p-2" style="background-color: #f2e8fc">
        <div class="card card-header text-center" style="background-color: #e1e6b5; color: #5c0233; text-shadow: 1px 1.5px #5c0233;">
        SEND A REVIEW & SUGGESTION!</div>
        <form action="">
            <div class="">
                <label for="exampleFormControlTextarea1" class="form-label m-2">Anafikir</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder="Enter your main subject of your review & suggestion.."></textarea>
            </div>
          
            <div class=" p-1">
                <label for="exampleFormControlTextarea1" class="form-label m-2">İçerik</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Enter your review & suggestion in detail.."></textarea>
            </div>
            <div class=" p-1">
                <label for="exampleFormControlTextarea1" class="form-label m-2">Görseller</label>
                <input type="button" name="send_comment" value="Dosya Yükle" class="btn btn-warning">
                <span class="row mt-3">
                    <img src="https://picsum.photos/id/1084/536/354?grayscale" alt="" class="col-3">
                    <img src="https://picsum.photos/id/1084/536/354?grayscale" alt="" class="col-3">
                    <img src="https://picsum.photos/id/1084/536/354?grayscale" alt="" class="col-3">
                    <img src="https://picsum.photos/id/1084/536/354?grayscale" alt="" class="col-3">
                </span>
            </div>
            <hr>
            <div class="mb-3 d-flex justify-content-between p-2">
                <span>
                    <input type="button" name="send_comment" value="Gönder" class="btn btn-primary">
                    <input type="button" name="send_comment" value="Temizle" class="btn btn-danger">
                </span>
                <span>
                    <label for="exampleFormControlTextarea1" class="form-label m-2">Yüklenen Dosyanın Tam İsmi ve Uzantısı.zip</label>
                    <input type="button" name="send_comment" value="Dosya Yükle" class="btn btn-info">
                </span>
            </div>
        </form>
    </div>

    <!-- REVIEWS AND SUGGESTIONS COMMENTS SIDE -->
    <div class="mb-2" style="background-color: #f2e8fc">
        <span class="">
            <div class="card text-center">
              <div class="card-header" style="background-color:#ffcce2; color: #26096b;">
                <h6 class="card-title m-0 p-0">Eleştiri & Önerinin Anafikri</h6>
              </div>
              <div class="card-body text-start" style="background-color:#edfffc; ">
                <p class="card-text" style="color: #340059; font-style: oblique;">
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                </p>

                <hr>

                <span class="d-flex justify-content-between">
                    <!-- left side -->
                    <span class="m-1">
                        <span class="card card-header text-center mb-2">Dosyalar</span>
                        <span class="">
                            <span class="">Dosyanın İsmi</span>
                            <span><a href="" class="btn btn-primary">DOWNLOAD</a></span>
                        </span>
                        <hr>
                        <span class="">
                            <span class="" >Dosyanın İsmi</span>
                            <span><a href="" class="btn btn-primary">DOWNLOAD</a></span>
                        </span>
                        <hr>
                        <span class="">
                            <span class="">Dosyanın İsmi</span>
                            <span><a href="" class="btn btn-primary">DOWNLOAD</a></span>
                        </span>
                        <hr>
                        <span class="">
                            <span class="">Dosyanın İsmi</span>
                            <span><a href="" class="btn btn-primary">DOWNLOAD</a></span>
                        </span>
                        <hr>

                    </span>

                    <!-- right side -->
                    <span class="row m-1">
                        <img src="https://picsum.photos/id/1084/536/354?grayscale" alt="" class="col-6">
                        <img src="https://picsum.photos/id/1084/536/354?grayscale" alt="" class="col-6">
                        <img src="https://picsum.photos/id/1084/536/354?grayscale" alt="" class="col-6">
                        <img src="https://picsum.photos/id/1084/536/354?grayscale" alt="" class="col-6">
                    </span>
                </span>

                <hr>

                <span class="d-flex justify-content-center">
                    <a href="#" class="btn btn-success mx-2" style="width:150px;">UP - 123</a>
                    <a href="#" class="btn btn-danger mx-2" style="width:150px;">DOWN - 232</a>
                    <a href="#" class="btn btn-info mx-2" style="width:150px;">REPLY - 12</a>
                </span>
              </div>
              <div class="card-footer text-muted d-flex justify-content-between" style="background-color:#fcfcde;">
                <span style=" color:#003d06;">
                    Yorum Atanın Tam İsmi
                </span>
                <span style=" color:#003d06;">
                    22/10/2001 - 10:45
                </span>
              </div>
            </div>
        </span>
    </div>

</div>



{% endblock  %}

