<!-- Footer -->
<div class="container">
    <div class="row" style="height: 100px">
        <div class="col-4 border border-warning p-2" style="color: #ffffde; text-align: center">
            <h2>TREND THOUGHTS</h2>
            <hr>
            <p>Trend yazısı rastegele yazı </p>
        </div>
        <div class="col-4 border border-warning p-2" style="color: #ffffde; text-align: center">
            <h2>HAKKIMIZDA</h2>
            <hr>
            <p>Hakkımızda yazısı rastegele yazı </p>
        </div>
        <div class="col-4 border border-warning p-2" style="color: #ffffde; text-align: center">
            <h2>İLETİŞİM</h2>
            <hr>
            <p>İletişim sayfası özel yazı metni</p>
        </div>
    </div>
</div>