        <!-- Right post field -->
        <div class="col-4 p-2 mb-1 bg-dark" >

            <!-- rightside TREND Thoughts -->
            <div class="card mb-2 bg-dark">

                <div class="card-header bg-danger mb-1 p-3 border-0">
                <span style="color: #f6ff00; text-shadow: 1px 1.5px #dde600;">TREND THOUGHTS</span>
                </div>

                <!-- ---------------------------------------------- -->

                <!-- rightside TREND card template -->
                <div class="card-body mb-1" style="background-color: #feffe6">
                <h5 class="card-title">Buluşun Başlığı</h5>
                <p class="card-text">Buluşun Basit Tanımı</p>
                <a href="#" class="btn btn-danger" style="color: #f6ff00;
                    text-shadow: 1px 1.5px #dde600;">READ</a>
                </div>

            </div>

            <!-- ------------------------------------------------------------ -->

            <!-- rightside Choosing For you Thoughts -->
            <div class="card-header p-3 mb-1" style="background-color: #5410c2">
                <span style="color: #a4fce6; text-shadow: 1px 1.5px #a4fce6;">CHOSEN FOR YOU</span>
                </div>

                <!-- ------------------------------------------- -->

            <!-- rightside card template -->
            <div class="card border-0 mb-1" style="background-color: #f2e8fc">
                <div class="card-body">
                <h5 class="card-title">Buluşun Başlığı</h5>
                <hr>
                <h6 class="card-subtitle mb-2 text-muted">Buluşun Basit Tanımı</h6>
                <hr>
                <a href="#" class="btn" style="background-color: #5410c2; color: #a4fce6;
                    text-shadow: 1px 1.5px #a4fce6;">READ</a>
                </div>
            </div>

        </div>