<!-- Right post field -->
<div class="col-4 p-2 mb-1 bg-dark" >

    <div class="card mb-1 bg-dark">

        <div class="card-header mb-1 p-3 border-0" style="background-color: #5b0396;">
        <span style="color: #ccfff9; text-shadow: 1px 1.5px #ccfff9;">FILES</span>
        </div>


        <!-- rightside FILES SIDE template -->
        <div class="mb-2" style=" background-color: #f2e8fc">
            <div class="d-flex justify-content-between border-bottom border-warning" style="background-color: #32415c; color: #97f7f3;">
                <!-- file name -->
                <span class="p-3"> 12345678912345678912 </span>

                <!-- buttons -->
                <span class="p-2">
                    <span><a href="" class="btn btn-success mx-2">YÜKLE</a></span>
                    <span><a href="" class="btn btn-danger">SİL</a></span>
                </span>

            </div>

            <div class="d-flex justify-content-between border-bottom border-warning" style="background-color: #32415c; color: #97f7f3;">
                <!-- file name -->
                <span class="p-3"> 12345678912345678912 </span>

                <!-- buttons -->
                <span class="p-2">
                    <span><a href="" class="btn btn-success mx-2">YÜKLE</a></span>
                    <span><a href="" class="btn btn-danger">SİL</a></span>
                </span>

            </div>



            <div class="d-flex justify-content-between border-bottom border-warning" style="background-color: #32415c; color: #97f7f3;">
                <!-- file name -->
                <span class="p-3"> 12345678912345678912 </span>

                <!-- buttons -->
                <span class="p-2">
                    <span><a href="" class="btn btn-success mx-2">YÜKLE</a></span>
                    <span><a href="" class="btn btn-danger">SİL</a></span>
                </span>

            </div>

            <div class="d-flex justify-content-between " style="background-color: #32415c; color: #97f7f3;">
                <span class="p-3">Yüklenen Dosyalar</span>
                <span><a href="" class="btn btn-info m-2">Dosya Seç</a></span>
            </div>

            <!-- Gallery Side -->

            <div class="row p-2 bg-dark">
                <img class="col-6 border border-warning p-1" style="border-width: thick;" src="https://img.freepik.com/free-photo/cool-geometric-triangular-figure-neon-laser-light-great-backgrounds-wallpapers_181624-9331.jpg?w=2000" alt="">
                <img class="col-6 border border-warning p-1" style="border-width: thick;"  src="https://img.freepik.com/free-photo/cool-geometric-triangular-figure-neon-laser-light-great-backgrounds-wallpapers_181624-9331.jpg?w=2000" alt="">
                <img class="col-6 border border-warning p-1" style="border-width: thick;"  src="https://img.freepik.com/free-photo/cool-geometric-triangular-figure-neon-laser-light-great-backgrounds-wallpapers_181624-9331.jpg?w=2000" alt="">
                <img class="col-6 border border-warning p-1" style="border-width: thick;"  src="https://img.freepik.com/free-photo/cool-geometric-triangular-figure-neon-laser-light-great-backgrounds-wallpapers_181624-9331.jpg?w=2000" alt="">

                </div>

        </div>



        <!-- rightside offer header -->
        <div class="card-header p-3 mb-1" style="background-color: #5410c2">
            <span style="color: #a4fce6; text-shadow: 1px 1.5px #a4fce6;">SEND AN OFFER</span>
        </div>

        <!-- rightside offer template -->
        <div class="mb-2" style=" background-color: #f2e8fc;">
            <span class="">

                <span class=" d-flex">
                    <span class="card card-header text-center" style=" width: 70%; background-color:#fafcca; color:#59767d; text-shadow: 1px 0.5px #59767d;">Teklifi Veren</span>
                    <span class="card card-header text-center" style=" width: 30%; background-color:#dadbaf; color:#59767d; text-shadow: 1px 0.5px #59767d;">Teklif Miktarı</span>
                </span>

                <span>
                    <span class=" d-flex justify-content-around border-bottom border-warning" style="background-color:#d4fae8;">
                        <span>Teklif Veren Kişinin Tam Adı Örnek 1</span>
                        <span>156.876.234</span>
                    </span>

                    <span class=" d-flex justify-content-around border-bottom border-warning" style="background-color:#d4fae8;">
                        <span>Teklif Veren Kişinin Tam Adı Örnek 1</span>
                        <span>156.876.234</span>
                    </span>

                    <span class=" d-flex justify-content-around border-bottom border-warning" style="background-color:#d4fae8;">
                        <span>Teklif Veren Kişinin Tam Adı Örnek 1</span>
                        <span>156.876.234</span>
                    </span>

                    <span class=" d-flex justify-content-around border-bottom border-warning" style="background-color:#d4fae8;">
                        <span>Teklif Veren Kişinin Tam Adı Örnek 1</span>
                        <span>156.876.234</span>
                    </span>

                    <span class=" d-flex justify-content-around border-bottom border-warning" style="background-color:#d4fae8;">
                        <span>Teklif Veren Kişinin Tam Adı Örnek 1</span>
                        <span>156.876.234</span>
                    </span>
                </span>

            </span>

            <span class="">
                <span class="card card-header text-center " style="border-radius: 0px; background-color:#75544a; color: #ffbb00; text-shadow: 1px 0.5px #ffbb00;">Ortalama Teklif: 123.123.433</span>
                <span class="card card-header text-center" style="border-radius: 0px; background-color:#446878; color: #feffb3; text-shadow: 1px 0.5px #feffb3;">Senin Teklifin: 129.323</span>
                <input type="range" class="form-range mt-3 px-3"  id="customRange1">
            </span>      

            <span class=" d-flex justify-content-center p-2">
                <a href="" class="btn " style="background-color: #1aab67; width: 100%; text-align: center; color: white; text-shadow: 1px 0.5px white;">SEND</a>
            </span>       

        </div>
        

        <!-- STATISTICS HEADER -->
        <div class="card-header bg-danger mb-1 p-3 border-0">
        <span style="color: #f6ff00; text-shadow: 1px 1.5px #dde600;">STATISTICS</span>
        </div>

        <!-- rightside STATISTICS template -->
        <div class="mb-2" style="height: 100px; background-color: #f2e8fc">

        </div>


        <!-- TREND POSTS FILED -->
        <div class="card-header bg-danger mb-1 p-3 border-0">
            <span style="color: #f6ff00; text-shadow: 1px 1.5px #dde600;">TRENDS</span>
            </div>
    
            <!-- rightside TREND POSTS template -->
            <div class="mb-2" style="height: 100px; background-color: #f2e8fc">
    
            </div>
    
    </div>

</div>