<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stack of Thoughts</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css"
        integrity="sha512-XWTTruHZEYJsxV3W/lSXG1n3Q39YIWOstqvmFsdNEEQfHoZ6vm6E9GK2OrF6DSJSpIbRbi+Nn0WDPID9O7xB2Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-dark">
    <!-- Navbar  -->
    <div class="container bg-dark">
        <nav class="navbar navbar-expand-lg  border border-warning" style="background-color:#ffd147;">

          <!-- Logo Text -->
          <a class="navbar-brand mx-4 " style="font-size: 28px; color: #5c5c5c; text-shadow: 2px 2px #5c5c5c;" href="#">STACK of THOUGHTS</a>

          <!-- Mobil Screen Toggle Menu Button -->
          <button class="navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Menu Choices -->
          <div class="collapse navbar-collapse mx-2 d-flex justify-content-end" id="navbarNav">
            <span>
                <ul class="navbar-nav">

                    <!-- Menu One Choice -->
                  <li class="nav-item active">
                    <a class="nav-link" style="font-size: 16px; color: #5c5c5c; text-shadow: 1.1px 1.1px #5c5c5c;" href="#">Anasayfa</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" style="font-size: 16px; color: #5c5c5c; text-shadow: 1.1px 1.1px #5c5c5c;" href="#">İletişim</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" style="font-size: 16px; color: #5c5c5c; text-shadow: 1.1px 1.1px #5c5c5c;" href="#">Hakkımızda</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" style="font-size: 16px; color: #5c5c5c; text-shadow: 1.1px 1.1px #5c5c5c;" href="#">Giriş</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" style="font-size: 16px; color: #5c5c5c; text-shadow: 1.1px 1.1px #5c5c5c;" href="#">Kayıt</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" style="font-size: 16px; color: #5c5c5c; text-shadow: 1.1px 1.1px #5c5c5c;" href="#">Profil</a>
                  </li>
                </ul>
            </span>

            <span>
                <form class="form d-flex mx-4" >
                  <input class="form-control " style="background-color:#5c5c5c;" type="search" placeholder="Arama..." aria-label="Search">
                  <button class="btn btn-outline-warning " style="background-color:#5c5c5c; color: white;" type="submit">Ara</button>
                </form>
            </span>
          </div>

        </nav>
    </div>

    <!-- body -->
    <div class="container">

        <div class="row" style="height: auto">

            <!-- ------------------------------------------------- -->

            <!-- Left post field -->
            <div class="col-8 p-2 bg-dark" >

                <!-- Cards Header -->
                <div class="card-header p-3 mb-1" style="background-color: #026e6a; 
                    font-size: 18px; color: #a8fffc; text-shadow: 1px 1px #a8fffc;" >

                    Buluş Başlığı 60 Karakter
                  </div>

                    <!-- ---------------------------------------------- -->

                <!-- card template  -->
                <div class="card mb-1 bg-dark" >

                  <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="background-color: #454b57; color: #ebfc9f">Buluşun Ana Fikri</li>
                    <li class="list-group-item" style="background-color: #454b57; color: #ffd494">Buluşun Odaklandığı Sorunlar</li>

                    <li class="list-group-item" style="background-color: #454b57; color: #f9fae8">
                      Contrary to popular belief, Lorem Ipsum is not simply random text.
                      It has roots in a piece of classical Latin literature from 45 BC,
                      making it over 2000 years old. Richard McClintock, a Latin professor
                      at Hampden-Sydney College in Virginia, looked up one of the more
                      obscure Latin words, consectetur, from a Lorem Ipsum passage,
                      and going through the cites of the word in classical literature,
                      discovered the undoubtable source. Lorem Ipsum comes from sections
                      1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes
                      of Good and Evil) by Cicero, written in 45 BC. This book is a treatise
                      on the theory of ethics, very popular during the Renaissance. The first
                      line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line
                      in section 1.10.32.
                        <br><br>
                      The standard chunk of Lorem Ipsum used since the 1500s is reproduced below
                      for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus
                      Bonorum et Malorum" by Cicero are also reproduced in their exact
                      original form, accompanied by English versions from the 1914 translation by H. Rackham.
                        <br><br>
                        Contrary to popular belief, Lorem Ipsum is not simply random text.
                      It has roots in a piece of classical Latin literature from 45 BC,
                      making it over 2000 years old. Richard McClintock, a Latin professor
                      at Hampden-Sydney College in Virginia, looked up one of the more
                      obscure Latin words, consectetur, from a Lorem Ipsum passage,
                      and going through the cites of the word in classical literature,
                      discovered the undoubtable source. Lorem Ipsum comes from sections
                      1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes
                      of Good and Evil) by Cicero, written in 45 BC. This book is a treatise
                      on the theory of ethics, very popular during the Renaissance. The first
                      line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line
                      in section 1.10.32.
                        <br><br>
                      The standard chunk of Lorem Ipsum used since the 1500s is reproduced below
                      for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus
                      Bonorum et Malorum" by Cicero are also reproduced in their exact
                      original form, accompanied by English versions from the 1914 translation by H. Rackham.
                      </li>
                      <li class="list-group-item d-flex justify-content-between" style="background-color: #454b57; color: #ebfc9f">
                          <span style="color:#97fcd7;">12345678912345678912345678912345678912345678912345</span>
                          <span style="color:#cfb3ff;">22/10/2001 - 10:45</span>
                      </li>

                  </ul>


                  <!-- Button Templates -->
                  <div class="card-body row m-0 bg-dark">
                    <a href="#" class="btn col m-1 d-flex justify-content-around" style=" background-color: #02b54f; color: #ffe6e3;
                        text-shadow: 1px 1.5px #ffe6e3;">
                        <span>
                            UP
                        </span>
                        <span>
                            1 212 211
                        </span>
                    </a>
                    <a href="#" class="btn col m-1 d-flex justify-content-around" style="background-color: #cf0056; color: #d1dbff;
                        text-shadow: 1px 1.5px #d1dbff;">
                        <span>
                            DOWN
                        </span>
                        <span>
                            1 212 211
                        </span>        
                    </a>
                    <a href="#" class="btn col m-1 d-flex justify-content-around" style="background-color: #007358; color: #e0fff8;
                        text-shadow: 1px 1.5px #e0fff8;">
                        <span>
                            OFFER
                        </span>
                        <span>
                            1 212 211
                        </span>        
                    </a>
                  </div>

                </div>


                <!-- REVIEWS AND SUGGESTIONS HEADER -->
                <div class="card-header p-3 mb-1" style="background-color: #91002e; 
                    font-size: 18px; color: #fcffe0; text-shadow: 1px 1px #fcffe0;" >

                    REVIEWS AND SUGGESTIONS
                </div>

                <!-- Comment Form Filed -->
                <div class="mb-2 p-2" style="background-color: #f2e8fc">
                    <div class="card card-header text-center" style="background-color: #e1e6b5; color: #5c0233; text-shadow: 1px 1.5px #5c0233;">
                    SEND A REVIEW & SUGGESTION!</div>
                    <form action="">
                        <div class="">
                            <label for="exampleFormControlTextarea1" class="form-label m-2">Anafikir</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder="Enter your main subject of your review & suggestion.."></textarea>
                        </div>
                      
                        <div class=" p-1">
                            <label for="exampleFormControlTextarea1" class="form-label m-2">İçerik</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Enter your review & suggestion in detail.."></textarea>
                        </div>
                        <div class=" p-1">
                            <label for="exampleFormControlTextarea1" class="form-label m-2">Görseller</label>
                            <input type="button" name="send_comment" value="Dosya Yükle" class="btn btn-warning">
                            <span class="row mt-3">
                                <img src="https://picsum.photos/id/1084/536/354?grayscale" alt="" class="col-3">
                                <img src="https://picsum.photos/id/1084/536/354?grayscale" alt="" class="col-3">
                                <img src="https://picsum.photos/id/1084/536/354?grayscale" alt="" class="col-3">
                                <img src="https://picsum.photos/id/1084/536/354?grayscale" alt="" class="col-3">
                            </span>
                        </div>
                        <hr>
                        <div class="mb-3 d-flex justify-content-between p-2">
                            <span>
                                <input type="button" name="send_comment" value="Gönder" class="btn btn-primary">
                                <input type="button" name="send_comment" value="Temizle" class="btn btn-danger">
                            </span>
                            <span>
                                <label for="exampleFormControlTextarea1" class="form-label m-2">Yüklenen Dosyanın Tam İsmi ve Uzantısı.zip</label>
                                <input type="button" name="send_comment" value="Dosya Yükle" class="btn btn-info">
                            </span>
                        </div>
                    </form>
                </div>

                <!-- REVIEWS AND SUGGESTIONS SIDE -->
                <div class="mb-2" style="background-color: #f2e8fc">
                    <span class="">
                        <div class="card text-center">
                          <div class="card-header" style="background-color:#ffcce2; color: #26096b;">
                            <h6 class="card-title m-0 p-0">Eleştiri & Önerinin Anafikri</h6>
                          </div>
                          <div class="card-body text-start" style="background-color:#edfffc; ">
                            <p class="card-text" style="color: #340059; font-style: oblique;">
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                            </p>

                            <hr>

                            <span class="d-flex justify-content-between">
                                <!-- left side -->
                                <span class="m-1">
                                    <span class="card card-header text-center mb-2">Dosyalar</span>
                                    <span class="">
                                        <span class="">Dosyanın İsmi</span>
                                        <span><a href="" class="btn btn-primary">DOWNLOAD</a></span>
                                    </span>
                                    <hr>
                                    <span class="">
                                        <span class="" >Dosyanın İsmi</span>
                                        <span><a href="" class="btn btn-primary">DOWNLOAD</a></span>
                                    </span>
                                    <hr>
                                    <span class="">
                                        <span class="">Dosyanın İsmi</span>
                                        <span><a href="" class="btn btn-primary">DOWNLOAD</a></span>
                                    </span>
                                    <hr>
                                    <span class="">
                                        <span class="">Dosyanın İsmi</span>
                                        <span><a href="" class="btn btn-primary">DOWNLOAD</a></span>
                                    </span>
                                    <hr>

                                </span>

                                <!-- right side -->
                                <span class="row m-1">
                                    <img src="https://picsum.photos/id/1084/536/354?grayscale" alt="" class="col-6">
                                    <img src="https://picsum.photos/id/1084/536/354?grayscale" alt="" class="col-6">
                                    <img src="https://picsum.photos/id/1084/536/354?grayscale" alt="" class="col-6">
                                    <img src="https://picsum.photos/id/1084/536/354?grayscale" alt="" class="col-6">
                                </span>
                            </span>

                            <hr>

                            <span class="d-flex justify-content-center">
                                <a href="#" class="btn btn-success mx-2" style="width:150px;">UP - 123</a>
                                <a href="#" class="btn btn-danger mx-2" style="width:150px;">DOWN - 232</a>
                                <a href="#" class="btn btn-info mx-2" style="width:150px;">REPLY - 12</a>
                            </span>
                          </div>
                          <div class="card-footer text-muted d-flex justify-content-between" style="background-color:#fcfcde;">
                            <span style=" color:#003d06;">
                                Yorum Atanın Tam İsmi
                            </span>
                            <span style=" color:#003d06;">
                                22/10/2001 - 10:45
                            </span>
                          </div>
                        </div>
                    </span>
                </div>

            </div>

            <!-- ----------------------------------------------------  -->

            <!-- Right post field -->
            <div class="col-4 p-2 mb-1 bg-dark" >

                <div class="card mb-1 bg-dark">

                 <div class="card-header mb-1 p-3 border-0" style="background-color: #5b0396;">
                    <span style="color: #ccfff9; text-shadow: 1px 1.5px #ccfff9;">FILES</span>
                 </div>

                   

                  <!-- rightside FILES SIDE template -->
                   <div class="mb-2" style=" background-color: #f2e8fc">
                        <div class="d-flex justify-content-between border-bottom border-warning" style="background-color: #32415c; color: #97f7f3;">
                            <!-- file name -->
                            <span class="p-3"> 12345678912345678912 </span>

                            <!-- buttons -->
                            <span class="p-2">
                                <span><a href="" class="btn btn-success mx-2">YÜKLE</a></span>
                                <span><a href="" class="btn btn-danger">SİL</a></span>
                            </span>

                        </div>

                        <div class="d-flex justify-content-between border-bottom border-warning" style="background-color: #32415c; color: #97f7f3;">
                            <!-- file name -->
                            <span class="p-3"> 12345678912345678912 </span>

                            <!-- buttons -->
                            <span class="p-2">
                                <span><a href="" class="btn btn-success mx-2">YÜKLE</a></span>
                                <span><a href="" class="btn btn-danger">SİL</a></span>
                            </span>

                        </div>



                        <div class="d-flex justify-content-between border-bottom border-warning" style="background-color: #32415c; color: #97f7f3;">
                            <!-- file name -->
                            <span class="p-3"> 12345678912345678912 </span>

                            <!-- buttons -->
                            <span class="p-2">
                                <span><a href="" class="btn btn-success mx-2">YÜKLE</a></span>
                                <span><a href="" class="btn btn-danger">SİL</a></span>
                            </span>

                        </div>

                        <div class="d-flex justify-content-between " style="background-color: #32415c; color: #97f7f3;">
                            <span class="p-3">Yüklenen Dosyalar</span>
                            <span><a href="" class="btn btn-info m-2">Dosya Seç</a></span>
                        </div>

                        <!-- Gallery Side -->

                        <div class="row p-2 bg-dark">
                            <img class="col-6 border border-warning p-1" style="border-width: thick;" src="https://img.freepik.com/free-photo/cool-geometric-triangular-figure-neon-laser-light-great-backgrounds-wallpapers_181624-9331.jpg?w=2000" alt="">
                            <img class="col-6 border border-warning p-1" style="border-width: thick;"  src="https://img.freepik.com/free-photo/cool-geometric-triangular-figure-neon-laser-light-great-backgrounds-wallpapers_181624-9331.jpg?w=2000" alt="">
                            <img class="col-6 border border-warning p-1" style="border-width: thick;"  src="https://img.freepik.com/free-photo/cool-geometric-triangular-figure-neon-laser-light-great-backgrounds-wallpapers_181624-9331.jpg?w=2000" alt="">
                            <img class="col-6 border border-warning p-1" style="border-width: thick;"  src="https://img.freepik.com/free-photo/cool-geometric-triangular-figure-neon-laser-light-great-backgrounds-wallpapers_181624-9331.jpg?w=2000" alt="">

                         </div>

                   </div>

                   <!-- ---------------------------------------------- -->

                  <div class="card-header bg-danger mb-1 p-3 border-0">
                    <span style="color: #f6ff00; text-shadow: 1px 1.5px #dde600;">STATISTICS</span>
                  </div>

                    

                  <!-- rightside STATISTICS template -->
                  <div class="mb-2" style="height: 100px; background-color: #f2e8fc">

                  </div>

                

                <!-- ------------------------------------------------------------ -->

                <!-- rightside offer header -->
                <div class="card-header p-3 mb-1" style="background-color: #5410c2">
                    <span style="color: #a4fce6; text-shadow: 1px 1.5px #a4fce6;">SEND AN OFFER</span>
                  </div>

                 

                <!-- rightside offer template -->
                <div class="mb-2" style=" background-color: #f2e8fc;">
                    <span class="">

                        <span class=" d-flex">
                            <span class="card card-header text-center" style=" width: 70%; background-color:#fafcca; color:#59767d; text-shadow: 1px 0.5px #59767d;">Teklifi Veren</span>
                            <span class="card card-header text-center" style=" width: 30%; background-color:#dadbaf; color:#59767d; text-shadow: 1px 0.5px #59767d;">Teklif Miktarı</span>
                        </span>

                        <span>
                            <span class=" d-flex justify-content-around border-bottom border-warning" style="background-color:#d4fae8;">
                                <span>Teklif Veren Kişinin Tam Adı Örnek 1</span>
                                <span>156.876.234</span>
                            </span>

                            <span class=" d-flex justify-content-around border-bottom border-warning" style="background-color:#d4fae8;">
                                <span>Teklif Veren Kişinin Tam Adı Örnek 1</span>
                                <span>156.876.234</span>
                            </span>

                            <span class=" d-flex justify-content-around border-bottom border-warning" style="background-color:#d4fae8;">
                                <span>Teklif Veren Kişinin Tam Adı Örnek 1</span>
                                <span>156.876.234</span>
                            </span>

                            <span class=" d-flex justify-content-around border-bottom border-warning" style="background-color:#d4fae8;">
                                <span>Teklif Veren Kişinin Tam Adı Örnek 1</span>
                                <span>156.876.234</span>
                            </span>

                            <span class=" d-flex justify-content-around border-bottom border-warning" style="background-color:#d4fae8;">
                                <span>Teklif Veren Kişinin Tam Adı Örnek 1</span>
                                <span>156.876.234</span>
                            </span>
                        </span>

                    </span>

                    <span class="">
                        <span class="card card-header text-center " style="border-radius: 0px; background-color:#75544a; color: #ffbb00; text-shadow: 1px 0.5px #ffbb00;">Ortalama Teklif: 123.123.433</span>
                        <span class="card card-header text-center" style="border-radius: 0px; background-color:#446878; color: #feffb3; text-shadow: 1px 0.5px #feffb3;">Senin Teklifin: 129.323</span>
                        <input type="range" class="form-range mt-3 px-3"  id="customRange1">
                    </span>      

                    <span class=" d-flex justify-content-center p-2">
                        <a href="" class="btn " style="background-color: #1aab67; width: 100%; text-align: center; color: white; text-shadow: 1px 0.5px white;">SEND</a>
                    </span>       

                </div>
                    
                
                </div>

            </div>
            <!-- ----------------------------------------------------- -->
        </div>

    </div>

    <!-- ------------------------------------------------------------ -->

    <!-- Footer -->
    <div class="container  " style="background-color:#ffd147;">
        <div class="row" style="">
            <div class="col-4 border border-warning p-2" style="color: #4a4a4a; text-align: center">
                <h2 style="text-shadow: 1px 1.5px #4a4a4a;">TREND THOUGHTS</h2>
                <hr>
                <p>Trend yazısı rastegele yazı </p>
            </div>
            <div class="col-4 border border-0 p-2" style="color: #4a4a4a; text-align: center">
                <h2 style="text-shadow: 1px 1.5px #4a4a4a;">HAKKIMIZDA</h2>
                <hr>
                <p>Hakkımızda yazısı rastegele yazı </p>
            </div>
            <div class="col-4 border border-0 p-2" style="color: #4a4a4a; text-align: center">
                <h2 style="text-shadow: 1px 1.5px #4a4a4a;">İLETİŞİM</h2>
                <hr>
                <p>İletişim sayfası özel yazı metni</p>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/js/bootstrap.min.js"
            integrity="sha512-8Y8eGK92dzouwpROIppwr+0kPauu0qqtnzZZNEF8Pat5tuRNJxJXCkbQfJ0HlUG3y1HB3z18CSKmUo7i2zcPpg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/js/bootstrap.bundle.min.js"
            integrity="sha512-9GacT4119eY3AcosfWtHMsT5JyZudrexyEVzTBWV3viP/YfB9e2pEy3N7WXL3SV6ASXpTU0vzzSxsbfsuUH4sQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/js/bootstrap.esm.min.js"
            integrity="sha512-RbybnSViTT4xdCUreYWZwH27vCYTDvSgJXHNb9XtdkZTl3tu7xoYftKctX7G4IuTYx2kAvWd0+0TjjvUFWnmDA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>